*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  direction: rtl;
}
html, body, button, input, select, textarea {
  font-family: TakeawaySans, "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-rendering: optimizelegibility;
}
a{
  text-decoration: none;
  color:inherit;
}